@keyframes slideLeft {
    from {
        transform: translateX(65px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(65px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}